<div>
  <span>
    <button (click)="centralize()" *ngIf="!isInCentralizeMode">Centralize</button>
    <button (click)="stopCentralize()" *ngIf="isInCentralizeMode">Stop</button>
  </span>
  <span>
    <button (click)="onConnectButtonClick()" *ngIf="!connected">Connect</button>
    <button (click)="disconnect()" *ngIf="connected">Disconnect</button>
  </span>
</div>
<table class="table">
  <tr *ngFor="let letterRow of lettersMatrix(); let row = index">
    <td *ngFor="let letter of letterRow; let col = index">
      <span class="matrix-letters" [attr.id]="row+':'+col" [class.selector]="shouldHighlight(row,col)">
        <span *ngIf="isLetter(letter)">{{letter}}</span>
        <span *ngIf="!isLetter(letter)">
          <img class="matrix-image" [src]="getImgSrc(letter)">
        </span>
      </span>
    </td>
  </tr>
</table>
