#mainWindow {
  width: fit-content;
  height: fit-content;
  background-color: lightgray;
}

.matrix-letters {
  font-family: cursive;
  font-size: x-large;
  width: 100%
}

.matrix-image {
  width: 20px;
  height: 20px;
}

.selector {
  background-color: yellow;
}

.button {
  font-size: x-small;
  font-family: cursive
}
