#mainWindow {
  width: 95px;
  height: fit-content;
  background-color: lightgray;
  margin: auto;
}

.matrix-letters {
  font-family: cursive;
  font-size: large;
}

.matrix-image {
  width: 20px;
  height: 20px;
}

.selector {
  background-color: yellow;
}

.button {
  font-size: x-small;
  font-family: cursive;
  width: 60px;
}
